{% extends 'base.html' %}

{% block title %} {{ article.article_title }} | {{ block.super }} {% endblock %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="modal-dialog">
                <img class="blink logo_size" src={% static 'logo.PNG' %}>
                <img src={% static 'authors.jpg' %}>
                <audio autoplay loop>
                    <source src={% static 'Rick_Astley_Never_Gona_Give_You_Up.mp3' %} type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
    </div>
{% endblock %}