{% extends 'base.html' %}

{% block title %} {{ article.article_title }} | {{ block.super }} {% endblock %}
{% load static %}

{% block content %}
    <div class="list-group">
        <a class="list-group-item active">
            Список доступных URl
        </a>
        {% for link in links %}
            <a class="list-group-item" href="/main/{{ link.pattern }}">{{ link.name }}</a>
        {% endfor %}
    </div>
{% endblock %}