{% extends 'base.html' %}

{% block title %} {{ article.article_title }} | {{ block.super }} {% endblock %}
{% load static %}
    <script type="text/javascript" src="{% static "js/profile/img_resize.js" %}"></script>


{% block css %}
    <link href="{% static 'css/comment.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    {% load bootstrap_tags %}


    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="jumbotron">
                <h1>{{ article.article_title }}</h1>
                <h3>Автор: {{ article.authors }}</h3>
            </div>
            <p> Дата загрузки: {{ article.pub_date|date }} </p>
            <p> Опиcание: {{ article.description }} </p>
            <p> WAC: {{ article.wac }} </p>
            <p> Благодарности: {{ article.thanks }} </p>
            <p> Референсы: {{ article.references }} </p>
            <br/>
            <a class="btn btn-primary" href="{% url 'main_page:download' article.pk %}">Скачать</a>

            {% if premoderation %}
                {% if user.is_superuser %}
                    {#                    todo Перенести в отдельную функцию#}
                    <form action="{% url 'main_page:pub_article' article.pk %}"
                          method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <button class="btn btn-success" id="id_success" name="name_success">Опубликовать
                        </button>
                    </form>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Отклонить
                    </button><br>
                    <a href="{% url 'main_page:delete_article' article.pk %}" class="btn btn-danger">Удалить</a>

                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Отказ в публикации</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'main_page:article-premoderation-view' article.pk %}"
                                          method="post"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form|as_bootstrap }}
                                        <button class="btn btn-danger" type="submit" id="article_decline"
                                                name="Подтвердить">Подтвердить
                                        </button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                </div>
                            </div>

                        </div>
                    </div>

                {% endif %}
            {% endif %}

            <div class="comments-content">
                <div id="comment-holder">
                    <div u="x" t="x" kind="x" class="comment-thread" id="xxx">
                        <ol id="xxx">
                            {% for comment in comments %}
                            <li kind="x" class="comment" id="xxx">
                                <div class="avatar-image-container">
                                    <img src="{% static comment.user.profile.avatar %}">
                                </div>
                                <div class="comment-block" id="xxx">
                                    <div kind="x" class="comment-header" id="xxx">
                                        <cite class="user"><a href="xxxx" rel="nofollow">{{ comment.user.username }}</a></cite>
                                        <span class="icon user"> </span>
                                        <span class="datetime secondary-text"><a href="xxx"
                                                                                 rel="nofollow">{{ comment.date }}</a></span>
                                    </div>
                                    <p class="comment-content" id="xxx">{{ comment.body }}</p>
                                    <span kind="x" class="comment-actions secondary-text" id="xxx">
                                     <a data-original-title="Reply" data-toggle="tooltip" type="button"
                                        class="btn btn-sm btn-info"><i class="glyphicon glyphicon-comment"></i></a>
                                     <a data-original-title="Delete" data-toggle="tooltip" type="button"
                                        class="btn btn-sm btn-danger" href="{% url 'main_page:delete_comment' comment.pk %}"><i class="glyphicon glyphicon-remove"></i></a>
                                 </span>
                                </div>
                                {% comment "comment-reply" %}
                             <div class="comment-replies" id="xxx">
                                 <span kind="x" id="xxx">
                                     <div u="x" t="x" kind="x" class="comment-thread inline-thread" id="xxx">
                                         <span kind="x" class="thread-toggle thread-expanded" id="xxx">
                                             <span class="thread-arrow" id="xxx"></span>
                                             <span class="thread-count" id="xxx">
                                                 <span style="display: none;" id="xxx"></span>
                                                 <span style="display: none;" id="xxx"></span>
                                                 <a target="_self" href="javascript:;">Replies</a>
                                                 <div class="thread-dropContainer thread-expanded" id="xxx">
                                                     <span class="thread-drop"></span>
                                                 </div>
                                             </span>
                                         </span>
                                         <ol class="thread-chrome thread-expanded" id="xxx">
                                             <div>
                                                 <li kind="b" class="comment" id="xxx">
                                                     <div class="avatar-image-container">
                                                         <img src="avatar of people who reply comment above">
                                                     </div>
                                                     <div class="comment-block" id="xxx">
                                                         <div kind="m" class="comment-header" id="xxx">
                                                             <cite class="user blog-author"><a href="xxx" rel="nofollow">name of people who reply comment</a></cite>
                                                             <span class="icon user blog-author"></span>
                                                             <span class="datetime secondary-text"><a href="xxx" rel="nofollow">date and time reply comment</a></span>
                                                         </div>
                                                         <p class="comment-content" id="xxx">comment body</p>
                                                         <span kind="m" class="comment-actions secondary-text" id="xxx">
                                                             <span class="item-control blog-admin pid-868019743"><a href="xxx" target="_self" o="d">Delete</a></span>
                                                         </span>
                                                     </div>
                                                     <div class="comment-replies" id="xxx"></div>
                                                     <div class="comment-replybox-single" id="xxx"></div>
                                                 </li>
                                             </div>
                                             <div kind="ci" class="continue" id="xxx"><a target="_self" href="javascript:;">Reply</a></div>
                                         </ol>
                                         <div class="comment-replybox-thread" id="xxx"></div>
                                     </div>
                                 </span>
                             </div>
                             {% endcomment %}
                                <div class="comment-replybox-single" id="xxx"></div>
                            </li>
                            {% endfor %}

                            <li kind="x" class="comment" id="xxx">
                                <div class="avatar-image-container">
                                    <img src="{% static user.profile.avatar %}">
                                </div>
                                <div class="form-group comment-block">
                                    <div kind="x" class="comment-header" id="xxx">
                                        <cite class="user"><a href="xxxx" rel="nofollow">Admin</a></cite>
                                        <span class="icon user"> </span>
                                        <span class="datetime secondary-text"><a href="xxx"
                                                                                 rel="nofollow">March 24, 2017</a></span>
                                </div>
                                <form method="post" action="{% url "main_page:send_comment" %}">
                                    {% csrf_token %}
                                    <textarea class="form-control" name="body" rows="3" id="comment"></textarea>
                                    <input type="submit" value="Отправить" class="btn btn-sm btn-info">
                                    <input type="hidden" name="article" value="{{ article.pk }}">
                                </form>
                                </div>
                                <div class="comment-replybox-single" id="xxx"></div>
                            </li>
                        </ol>
                        {% comment "comment-others" %}
                     <div kind="ci" class="continue" id="xxx" style="display: none;">
                         <a target="_self" href="javascript:;">Add comment</a>
                     </div>
                     <div class="comment-replybox-thread" id="xxx">
                         xxxxxxxxx
                     </div>
                     <div kind="rb" class="loadmore loaded" id="xxx"><a target="_self" href="javascript:;">Load more...</a></div>
                 </div>
                 {% endcomment %}

                    </div>

                </div>

            </div>
            </div>
        </div>
{% endblock content %}
