{% load static %}
{% load bootstrap_tags %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="{% static 'css/main_page.css' %}" rel="stylesheet">
    {% load bootstrap_tags %}
    {% block css %}{% endblock css %}

    {% block js_begin %}
        <script src="{% static 'js/frameworks/jquery.min.js' %}"></script>
        <script src="{% static 'js/frameworks/bootstrap.js' %}"></script>
    {% endblock js_begin %}
    <title>{% block title %} JOURNAL $666 {% endblock title %}</title>
</head>


<body>
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item {% if page_name == "index" %} active {% endif %}"
               href="{% url 'main_page:index' %}">Домой</a>
            <a class="blog-nav-item {% if page_name == "search-author" %} active {% endif %}"
               href="{% url 'main_page:search-author' %}">Поиск</a>
            <a class="blog-nav-item {% if page_name == "list_page" or page_name == "list_issue" or page_name == "list_heading" %} active {% endif %}"
               href="{% url 'main_page:list_issue' %}">Все журналы</a>
            {% if user.is_superuser %}
                <a class="blog-nav-item {% if page_name == "premoderation-article-list" %} active {% endif %}"
                   href="{% url 'main_page:premoderation-article-list' %}">Премодерация</a>
                <a class="blog-nav-item {% if page_name == "main-page-edit" %} active {% endif %}"
                   href="{% url 'main_page:main-page-edit' %}">Изменение контента главной страницы</a>

            {% endif %}
            <a class="blog-nav-item {% if page_name == 'about' %} active {% endif %}"
               href="{% url 'main_page:about' %}">О журнале</a>

            {% if not user.is_authenticated %}
                <form class="navbar-form navbar-right" action="{% url 'main_page:login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" placeholder="Логин" class="form-control" name="username">
                        <input type="password" placeholder="Пароль" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-success">
                        Войти
                    </button>
                </form>
                <a class="blog-nav-item {% if page_name == "signup" %} active {% endif %}"
                   href="{% url 'main_page:signup' %}">Зарегестрироваться</a>
            {% else %}
                <a class="blog-nav-item {% if page_name == "send_article" %} active {% endif %}"
                   href="{% url 'main_page:send_article' %}">Отправить статью</a>
                <a class="blog-nav-item" href="{% url 'main_page:profile' %}">Вы вошли как {{ user.username }}</a>

                <a class="blog-nav-item" href="{% url 'main_page:logout' %}">Выйти</a>

            {% endif %}
        </nav>
    </div>
</div>
{% block content %}
    Content here
{% endblock content %}
<footer class="blog-footer">
    <p>Tough Life Magazine 2016</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
{% block js_end %}
    <script src="{% static 'js/other/logs.js' %}"></script>
    <script src="{% static 'js/search_author/form.js' %}"></script>
{% endblock js_end %}
</body>