{% extends './base.html' %}
{% block title %} Main Page | {{ block.super }} {% endblock %}
{% load bootstrap_tags %}
{% block js_begin %}
    {{ block.super }}
    {{ form.media }}
{% endblock js_begin %}
{% block content %}
    <div class="modal-dialog">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <button type="submit">Save changes</button>
    </form>
    </div>
{% endblock %}