{% extends 'base.html' %}
{% block title %} Main Page | {{ block.super }} {% endblock %}

{% block content %}
    <div class="container">

        <div class="blog-header">
            <h1 class="blog-title"> {{ MainPage.header }} </h1>
            <p class="lead blog-description">{{ MainPage.headerDescription }}</p>
        </div>

        <div class="row">

            <div class="col-sm-8 blog-main">

                <div class="blog-post">
                    <h2 class="blog-post-title">Добро пожаловать на страницу еще одного псевдонауного журнала.</h2>
                    <br>
                    <p>
                        {{ MainPageDBInfo.appeal }}<!--Журнал является собой одним из новейших периодических начных журналов. Первый его выпуск не вышел, и, мы надеемся, что никогда не выйдеи. Потому что это издевательство над наукой, программированием и всем прекрасным что есть в этом мире--></p>
                    <hr>
                    <p> Пожалуйста, прочтите обращение команды разработчиков</p>
                    <blockquote>
                        <p>{{ MainPageDBInfo.greetings }}</p>
                    </blockquote>
                    <p> Что нового: </p>
                    <blockquote>
                        <p>{{ MainPageDBInfo.whatIsNew }}</p>
                    </blockquote>

                </div><!-- /.blog-post -->


            </div><!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>{{ MainPage.aboutHeader }}</h4>
                    <p>{{ MainPage.aboutText }}</p>
                </div>
                <div class="sidebar-module">
                    <h4>{{ MainPage.archivesHeader }}</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">Март 2016</a></li>
                        <li><a href="#">Февраль 2016</a></li>
                        <li><a href="#">Январь 2016</a></li>
                        <li><a href="#">Декабрь 2016</a></li>
                        <li><a href="#">Ноябрь 2016</a></li>
                        <li><a href="#">Октябрь 2016</a></li>
                        <li><a href="#">Сентябрь 2016</a></li>
                        <li><a href="#">Август 2016</a></li>
                        <li><a href="#">Июль 2016</a></li>
                        <li><a href="#">Июнь 2016</a></li>
                        <li><a href="#">Май 2016</a></li>
                        <li><a href="#">Апрель 2016</a></li>
                    </ol>
                </div>
                <div class="sidebar-module">
                </div>
            </div><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </div><!-- /.container -->

{% endblock %}