{% extends 'base.html' %}
{% block title %} List Page | {{ block.super }} {% endblock %}
{% load bootstrap_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="jumbotron">
            <h3>Все выпуски журнала {{ journal }}</h3>
            {% if user.is_superuser %}
                <a href="{% url 'main_page:add_issue' %}">Добавить выпуск</a>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="row">
                {% for issue in issues %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <div class="panel-title">
                                    <a href="{% url 'main_page:list_heading' issue.pk %}">{{ issue }}</a>
                                </div>
                                <img src="{% static issue.cover %}">
                            </h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas fixed_position">
            <div class="list-group">
                <a href="#" class="list-group-item active">2016</a>
                <div class="sidebar-offcanvas">
                    <div class="list-group">
                        <a href="#" class="list-group-item">Январь</a>
                        <a href="#" class="list-group-item">Февраль</a>
                        <a href="#" class="list-group-item">Март</a>
                        <a href="#" class="list-group-item">Апрель</a>
                        <a href="#" class="list-group-item">Май</a>
                        <a href="#" class="list-group-item">Июнь</a>
                        <a href="#" class="list-group-item">Июль</a>
                        <a href="#" class="list-group-item">Август</a>
                        <a href="#" class="list-group-item">Сентябрь</a>
                        <a href="#" class="list-group-item">Октябрь</a>
                        <a href="#" class="list-group-item">Ноябрь</a>
                        <a href="#panel_december" class="list-group-item active">Декабрь</a>
                    </div>
                </div><!--/.sidebar-offcanvas-->
                <a href="#" class="list-group-item">2015</a>
                <a href="#" class="list-group-item">2014</a>
                <a href="#" class="list-group-item">2013</a>
                <a href="#" class="list-group-item">2012</a>
                <a href="#" class="list-group-item">2011</a>

            </div>
        </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->

    <hr>


</div><!--/.container-->
{% endblock %}
