{% extends 'base.html' %}
{% block title %} List Page | {{ block.super }} {% endblock %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="jumbotron">
                <h1>Публикации</h1>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="row">
                    {% for article in articles %}
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a href="{% url 'main_page:article' article.pk %}">{{ article.article_title }}</a>
                                </h2>
                            </div>
                            <div class="panel-body">
                                {#<p class="article_date">{{ article.pub_date|date }}</p>#}
                                <p class="article_description">{{ article.description }}</p>
                                <p class="article_author">Автор: {{ article.authors }}</p>
                                <img src="{% static article.cover %}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div><!--/.col-xs-12.col-sm-9-->

            <div class="col-xs-6 col-sm-3 sidebar-offcanvas fixed_position" id="sidebar">
                <div class="list-group">
                    <div class="sidebar-offcanvas" id="sidebar">
                    </div><!--/.sidebar-offcanvas-->

                </div>
            </div><!--/.sidebar-offcanvas-->
        </div><!--/row-->

        <hr>


    </div><!--/.container-->


{% endblock %}
