{% extends './base.html' %}
{% block title %} Main Page | {{ block.super }} {% endblock %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container">
        <div class="modal-dialog">
            <form action="{% url 'main_page:main-page-edit' %}" method="post">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <input type="submit" value="Отправить" class="btn btn-primary"/>
            </form>
        </div>
    </div>
{% endblock %}