{% extends './base.html' %}
{% block title %} Main Page | {{ block.super }} {% endblock %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="jumbotron">
                <h2>Поиск статей по авторам</h2>
            </div>

            <div class="modal-dialog">
                <form>
                    <input type="text" size="64" id="id_search_form" placeholder="Введите имя автора" class="form-control">
                    <br/>
                    <button type="button" value="Поиск" class="btn btn-primary" id="id_search_button">Поиск</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}