{% extends './base.html' %}
{% block title %} Main Page | {{ block.super }} {% endblock %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="jumbotron">
                <h2>Загрузить новую статью</h2>
            </div>

            <div class="modal-dialog">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|as_bootstrap }}
                    <input type="submit" value="Загрузить" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}