{% extends './base.html' %}
{% block title %} {{ profile.user.username }} | {{ block.super }} {% endblock %}
{% load bootstrap_tags %}
{% load static %}
{% block css %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock css %}
{% block js_begin %}
    {{ block.super }}
    <script src="{% static 'js/profile.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "js/profile/img_resize.js" %}"></script>
{% endblock js_begin %}
{% block content %}
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{ profile.user.username }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{% static profile.avatar %}" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>ФИО:</td>
                        <td>{{ profile.user.first_name }} {{ profile.patronymic }} {{ profile.user.last_name }}</td>
                      </tr>
                      <tr>
                        <td>Дата рождения:</td>
                        <td>{{ profile.birth_date }}</td>
                      </tr>
                      <tr>
                        <td>Биография</td>
                        <td>{{ profile.additionalInfo|safe}}</td>
                      </tr>
                        <tr>
                        <td>Home Address</td>
                        <td>Kathmandu,Nepal</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></td>
                      </tr>
                      <tr>
                        <td>Зарегистрирован</td>
                        <td>{{ profile.user.date_joined }}</td>
                      </tr>
                      <tr>
                        <td>Админ</td>
                        <td>{% if profile.user.is_superuser %}
                            да
                        {% else %}
                            нет
                        {% endif %}
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <a href="{% url 'main_page:list_by_author' profile.user.username %}" class="btn btn-primary">Статьи этого пользователя</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="{% url 'main_page:profile' %}" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="{% url 'main_page:delete_user' profile.user.pk %}" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>

          </div>
        </div>
      </div>
    </div>
{% endblock %}