.comment {
    list-style-type: none;
    margin: 10px 0;
    width: 100%;
}
.comment .avatar-image-container img {
    width: 100px;
    height:100px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    margin-right: 10px;
    padding: 3px;
    vertical-align: middle;
}
.comment .avatar-image-container {
    float: left;
    overflow: visible;
}
.comment .comment-block {
    margin-left: 70px;
    min-height: 100px;
    position: relative;
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #E4E4E4;
    border-radius: 4px 4px 4px 4px;
    overflow: hidden;
    padding: 15px 20px 5px;
}
.comment .comments-content .datetime {
    font-size: 11px;
    font-style: italic;
    margin-left: 6px;
    float:right;
}
.comment .comments-content .datetime a{
    color:#999;
}
.comment .comments-content .user {
    font-style: normal;
    font-weight: bold;
}
.comment .comments-content .user a {
    color:#333;
}
.comment .comment .comment-actions a {
    background: -moz-linear-gradient(center top , #FFFFFF 20%, #E5E5E5 100%) repeat scroll 0 0 transparent;
    border-color: #E4E4E4 #C4C4C4 #C4C4C4 #E4E4E4;
    border-radius: 2px 2px 2px 2px;
    border-right: 1px solid #C4C4C4;
    border-style: solid;
    border-width: 1px;
    color: #424242 !important;
    display: inline-block;
    margin: 5px;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 #FFFFFF;
    font: 11px/18px sans-serif;
    margin: 5px;
    padding: 1px 6px;

}
.comment .continue a {
    background: -moz-linear-gradient(center top , #FFFFFF 20%, #E5E5E5 100%) repeat scroll 0 0 transparent;
    border-color: #E4E4E4 #C4C4C4 #C4C4C4 #E4E4E4;
    border-radius: 2px 2px 2px 2px;
    border-right: 1px solid #C4C4C4;
    border-style: solid;
    border-width: 1px;
    color: #424242 !important;
    display: inline-block;
    margin: 5px;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 #FFFFFF;
    font: 11px/18px sans-serif;
    margin: 5px;
    padding: 1px 6px;
}
.comment .comments-content .loadmore.loaded {
    background: none repeat scroll 0 0 #4488DD !important;
    color: #FFFFFF;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}
.comments-content {
    margin: 20px 0;
}

.comment-thread ol {
    padding: 0;
}

.comment-block form textarea {
    margin: 10px 0;
}